apiVersion: v1
kind: Service
metadata:
  name: api-auth
  namespace: backend
  labels:
    app: api-auth
spec:
  ports:
    - name: http
      protocol: TCP
      port: 8082
      targetPort: 8082
  selector:
    app: api-auth
